@import "../../../styles/settings.scss";

.root {
  padding: 3rem 0 5rem 0 ;
  text-transform: uppercase;

  .box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }

  .one {
    background-image: url('https://images.pexels.com/photos/276566/pexels-photo-276566.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 100%;
    padding: 3rem;
    color: $color-white;
    justify-content: flex-end;

    &::after {
      position: absolute;
      content: '';
      background: $color-midGray-dark;
      top: 30px;
      left: 40px;
      bottom:30px;
      width: calc(100% - 80px);
      opacity: 0.3;
    }

    p {
      z-index: 5;

      &:nth-child(1) {
        font-size: 2rem;
        font-weight: 700;
        line-height: 0;
        margin-top: 1rem;
      }
      &:nth-child(2) {
        font-size: 4rem;
        font-weight: 700;
        line-height: 1;
      }
      &:nth-child(3) {
        font-size: 3.4rem;
        font-weight: 600;
        line-height: 1.4;
        border: 5px solid $color-white;
        padding: 0 10px;
        width: 170px;
      }
    }
  }

  .two {
    background-image: url('https://images.pexels.com/photos/1350789/pexels-photo-1350789.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 25vh;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
    padding: 3rem;

    p {
      &:nth-child(1) {
        font-size: 1.8rem;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 0;

        span {
          font-weight: 800;
        }
      }
      &:nth-child(2) {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 3px;
        margin-bottom: 0;
      }
      &:nth-child(3) {
        font-size: 2.5rem;
        font-weight: 600;
        color: $color-orange;
      }
    }
  }

  .three {
    background-image: url('https://images.pexels.com/photos/3682240/pexels-photo-3682240.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    height: 25vh;
    padding: 1rem;
    text-align: right;
    justify-content: center;

    p {
      &:nth-child(1) {
        color: $color-orange;
        font-size: 1.7rem;
        letter-spacing: 1px;
        margin-bottom: 0;

        span {
          font-weight: 800;
        }
      }
      &:nth-child(2) {
        font-weight: 500;
        font-size: 1.3rem;
        letter-spacing: .5px;
      }
    }
  }
}