@import '../../../styles/settings.scss';

.component {
    height: 75px;
    width: 75px;
    border: 1px solid $light-border-color;
    margin: $base-padding / 4;
    display: inline-block;
    position: relative;
    &:hover .image {
      visibility: visible;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
}

.image {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($dark-bg, 0.6);
  text-align: center;
  line-height: 75px;
  a {
    color: $light-border-color;
    font-size: 1.1rem;
    &:hover {
      color: $primary;
    }
  }
}