$base-padding: 24px;

//color variables *ONLY TO BE USED IN THIS FILE*

$color-orange: #d58e32;

$color-midGray-light: #434343;
$color-midGray: #363636;
$color-midGray-dark: #292929;

$color-gray: #b6b6b6;
$color-black: #2a2a2a;
$color-white: #fff;

$color-greyWhite: #e2e2e2;
$color-grayWhite-darker: #f4f5f7;

$color-gray-rgb-169: rgb(169, 169, 169);
$color-gray-rgb-216: rgb(216, 216, 216);
$color-gray-rgb-224: rgb(224, 227, 237);

//component color variables

$primary: $color-orange;

$text-color: $color-black;
$light-text-color: $color-white;
$gray-text-color: $color-gray-rgb-169;
$light-gray-text-color: $color-gray-rgb-224;

$form-border-color: $color-midGray-dark;
$light-border-color: $color-greyWhite;
$gray-border-color: $color-gray;
$dark-border-color: $color-black;

$light-bg: $color-white;
$gray-white-bg: $color-grayWhite-darker;
$dark-bg: $color-midGray-dark;

$header-topbar-bg: $color-midGray-light;
$header-bg: $color-midGray;

$footer-claim-bg: $color-black;
$footer-bg: $color-midGray;

$button-bg: $color-black;

//hover animation

$bg-transition-time: 0.25s;
$txt-transition-time: 0.25s;

%hover-transition {
    transition:  color $txt-transition-time, background-color $bg-transition-time;
}
