$base-padding: 24px;

//color variables *ONLY TO BE USED IN THIS FILE*

$color-orange: #d58e32;

$color-midGray-light: #434343;
$color-midGray: #363636;
$color-midGray-dark: #292929;

$color-gray: #b6b6b6;
$color-black: #2a2a2a;
$color-white: #fff;

$color-greyWhite: #e2e2e2;
$color-grayWhite-darker: #f4f5f7;
$color-green: #44bd32;

$color-gray-rgb-169: rgb(169, 169, 169);
$color-gray-rgb-216: rgb(216, 216, 216);
$color-gray-rgb-224: rgb(224, 227, 237);

//component color variables

$primary: $color-orange;

$text-color: $color-black;
$light-text-color: $color-white;
$gray-text-color: $color-gray-rgb-169;
$light-gray-text-color: $color-gray-rgb-224;

$form-border-color: $color-midGray-dark;
$light-border-color: $color-greyWhite;
$gray-border-color: $color-gray;
$dark-border-color: $color-black;

$light-bg: $color-white;
$gray-white-bg: $color-grayWhite-darker;
$gray-bg: $color-gray;
$dark-bg: $color-midGray-dark;

$header-topbar-bg: $color-midGray-light;
$header-bg: $color-midGray;

$footer-claim-bg: $color-black;
$footer-bg: $color-midGray;

$button-bg: $color-black;

$nextPrev-bg: $color-black;
$nextPrev-color: $color-white;

//gallery colors var's

$gallery-content-bg: $color-white;
$gallery-header-before: $primary;
$gallery-header-border: $color-grayWhite-darker;
$gallery-header: $primary;
$gallery-link-active-bg: $color-grayWhite-darker;
$gallery-link-active-border: $primary;
$gallery-link-active: $primary;
$gallery-link-bg: $color-white;
$gallery-link-border: $color-gray;
$gallery-link: $color-black;
$gallery-picture: $color-green;
$gallery-price-bg: $color-gray;
$gallery-price: $color-grayWhite-darker;
$gallery-triangle: $color-black;
$nextPrev-bg: $color-black;
$nextPrev-color: $color-white;


//hover animation
/*
@keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
*/

$bg-transition-time: 0.25s;
$txt-transition-time: 0.25s;
/*$shake-duration-time: 1s;

%shake-animation {
    animation: shake $shake-duration-time cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  */
%hover-transition {
    transition:  color $txt-transition-time, background-color $bg-transition-time;
  
    //&:not(.noHover):hover {
      //@extend%shake-animation;
    //}
  }

  %hover-no-shake-transition {
    transition:  color $txt-transition-time, background-color $bg-transition-time;
  }