@import "../../../styles/settings.scss";

.root {
  background-color: $light-bg;
  border: 1px solid $light-border-color;
  margin-bottom: 2rem;
  transition:0.25s ease-in-out;

  &:hover {
    .actions .price> div{
      background-color: $primary;
    }
    .photo .buttons {
      visibility: visible;
    }
  }
  &:hover{
    transform:translate(-1px, 2px);
    box-shadow: -25px 10px 15px -5px rgba(63, 63, 63, 0.349);
  }
 
  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: $gray-white-bg;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $dark-bg;
      border-radius: 50%;
      color: $light-text-color;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      visibility: hidden;
      bottom: -50px;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $text-color;;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $dark-border-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .oldPrice{
    text-decoration: line-through;
    font-size: 14px;
    line-height: 22px;
    padding: 4px 8px;
    font-weight: 400;
    color: $gray-text-color;
  }
}
