@import "../../../styles/settings.scss";

.root {
  height: 300px;
  margin-bottom: 160px;

  .dealsWrapper {
    border: 1px solid $light-border-color;
  }

  .bannerWrapper {
    position: relative;
  }

}
