@import '../../../styles/settings.scss';

.compareFixedContainer {
    width: 75vw;
    max-width: 1000px;
    height: 20vh;
    max-height:150px;
    background-color: $color-gray;
    opacity: 95%;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 100;
    .compareBox{
        // style if needed
    }
}

.btn{
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.compareBtn{
    height: 60px;
    text-transform: uppercase;
}