.compareContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 150px;
    margin-right: 20px;
    &:hover .icon{
        display: block;
    }
}

.iconContainer {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 6px;
    right: 6px;
}

.icon {
    margin-top: 10px;
    font-size: 21px;
    display: none;
    &:hover {
        color: $primary;
    }
}

.image {
    width: 100%;
}

.compareName {
    text-align: center;
}