@import "../../../styles/settings.scss";

.root {
  margin-bottom: 30px;

  .header {
    position: relative;
    margin-bottom: 30px;
    border-bottom: 4px solid $gallery-header-border-color;
    h3 {
      color: $primary;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 38px;
      margin: 0;
      letter-spacing: 1px;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 0;
      width: 45px;
      border-bottom: 4px solid $primary;
    }
  }

  .menu {
    text-align: center;
      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          background-color: $gallery-menu-item-bg-color;
          border: 1px solid $gallery-menu-item-border-color;
          display: flex;
          font-weight: 600;
          justify-content: center;
          margin: 0;
          width: 25%;
          a {
            color: $gallery-menu-item-link-color;
            display: block;
            font-size: 16px;
            padding: 15px;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            width: 100%;
            &.active, &:hover {
              background-color: $gallery-menu-item-link-hover-color;
              &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;  border-bottom: 4px solid $primary;
              }
            }
          }
        }
      }
    }

  .product {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      position: relative;
      height: 400px;
    }
    .buttons {
      z-index: 1;
      height: 100%;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 35px;
      margin-left: 10px;
      top: 0;
      left: 0;
      .icon {
        border: 1px solid $gallery-icons-default-color;
        color: $gallery-icons-default-color;
        width: 35px;
        height: 35px;
        padding: 8px;
        margin-bottom: 3px;
        &:hover{
          color: $primary;
          border-color: $primary;
        }
      }

    }

    .content {
      text-align: center;
      z-index: 1;
      position: absolute;
      padding: 15px;
      right: 5px;
      bottom: 25px;
      background-color: $light-bg;
      box-shadow: 0px 6px 9px 1px rgba(0,0,0,0.35);

      .triangleTopLeft {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 20px 0 0;
        border-color: $dark-border-color transparent transparent transparent;
      }

      .triangleBottomRight {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 20px 20px;
        border-color: transparent transparent $dark-border-color transparent;
      }

      h5 {
        color: $text-color;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 1px;
      }

      .stars {
        a {
          text-decoration: none;
          color: $text-color;
        }
      }

      .price {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, -90%);
        background-color: $gray-bg;
        padding: 25px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h3, h5 {
          margin: 0;
          color:  $text-color;
        }

        h5 {
          text-decoration: line-through;
        }
      }
    }
  }

  .slider {
    display: flex;
    padding: 5px;
    justify-content: space-around;
    border: 1px solid $gray-border-color;

    .prev, .next {
      width: 20px;
      background-color: $nextPrev-bg;
      color: $nextPrev-color;
      text-align: center;

      p {
        margin: 28px 0;
      }

      &:hover {
        background-color: lighten($nextPrev-bg, 20%);
      }
    }

    .slides {
      display: flex;
      justify-content: space-around;
      width: 100%;

      .slidePic {
        width: 75px;
        height: 75px;
        object-fit: cover;
        margin: 2px;
        position: relative;
        opacity: 0.5;
        flex: 1;

        &.active {
          opacity: 1;
        }
      }
    }
  }
  .staticPicture {
    position: relative;
    width: 100%;
    height: 500px;
    img {
      position: relative;
      width: 100%;
      height: 500px;

    }
    .staticPictureDetails {
      position: absolute;
      top: 50px;
      left: 30px;

    }
  }
}